:root {
  --orange: #ff9f00;
  --orange-light: #ffb233;
  --green: #4ac29d;
  --red: #ff6860;
  --blue: #689ff8;
  --blue-light: #f5f6fc;
  --gray: #bcbeca;
  --gray2: #9d9faf;
  --gray3: #858a9d;
  --gray-dark: #858a9d;
  --gray-dark2: #343951;
  --gray-dark3: #464c61;
  --gray-light: #c4c4c4;
  --gray-light2: #bec0c8;
  --white-light: #f5f6fc;
  --white: #ffffff;
}
