* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: auto;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 194px 1fr 22px 252px;
  height: 100vh;
  width: auto;
  gap: 0;
  background-color: var(--white);
}

/* MENU */
.sidebar {
  min-width: 172px;
  background-color: var(--gray-dark2);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  min-height: 100vh;
  z-index: 1;
}

.gradient {
  background: linear-gradient(to right, var(--orange), var(--red), var(--blue));
}

.logo {
  height: 21px;
  width: 74px;
  border-radius: 5px;
  margin-top: 36px;
  margin-left: 32px;
}

.sidebar-menu {
  border-bottom: 1px solid var(--gray-dark3);
}

.sidebar-item {
  margin-left: 32px;
  cursor: pointer;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  color: var(--gray-dark);
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  margin-bottom: 33px;
}

/* ACTIVE SNIPPET */
.sidebar-item.active::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 7px;
  height: 44px;
  background-color: var(--white);
  border-radius: 0 4px 4px 0;
}

.sidebar-item.active {
  color: var(--white);
}

.sidebar-item.active .rectangle1 {
  border-color: var(--white);
}

.sidebar-item:hover {
  color: var(--white);
}

.sidebar-item:hover .rectangle1 {
  border-color: var(--white);
}

.rectangle1 {
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid var(--gray-dark);
  background: transparent;
  margin-right: 19px;
}

.menu-item p {
  margin-left: 19px;
  margin-bottom: 38px;
  align-items: center;
  line-height: 15px;
}

.create-new {
  justify-items: center;
  margin-bottom: 27px;
  align-self: center;
}

.create-new-list {
  justify-self: center;
  align-content: center;
  width: 116px;
  height: 118px;
  background-color: var(--gray-dark3);
  border-radius: 9px;
}

.create-new-list.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.rectangle2 {
  position: absolute;
  margin-left: 14px;
  width: 15px;
  height: 15px;
  border: 1px solid var(--gray-dark);
  background: transparent;
}

.create-new-list p {
  cursor: pointer;
  margin-left: 36px;
  margin-bottom: 10px;
  align-items: center;
  line-height: 15px;
  color: var(--gray-dark);
}

.create-new-list div:hover .rectangle2 {
  border-color: var(--white);
}

.create-new-list div:hover p {
  color: var(--white);
}

.create-new button {
  width: 116px;
  height: 30px;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
}

.plus {
  display: inline-block;
  height: 21px;
  width: 21px;
  line-height: 21px;
  border-radius: 4px;
  margin-left: 15px;
  background-color: var(--orange-light);
  font-size: 15px;
}

/* CENTER CONTENT*/
.main-content {
  flex: 1;
  padding-left: 16px;
  padding-right: 19px;
  background-color: var(--blue-light);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: auto;
  max-width: 100%;
}

#search {
  width: 1fr;
  height: 29px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 35px;
  border-radius: 5px;
  border-color: transparent;
  color: var(--gray);
  box-sizing: border-box;

  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='14' height='14' stroke='%23858a9d' fill='transparent'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 15px 15px;
}

.recently-used {
  margin-bottom: 38px;
}

h2 {
  font-size: 20px;
  margin: 0;
  color: var(--gray-dark2);
}

.cards {
  display: flex;
  gap: 14px;
  margin-top: 23px;
  margin-right: 42px;
}

.card {
  background-color: var(--white);
  border-radius: 12px;
  min-width: 159px;
  width: 100%;
  height: 133px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card-icon {
  width: 30px;
  height: 26px;
  margin-top: 20px;
  margin-bottom: 34px;
  position: relative;
  background-color: var(--orange-light2);
  z-index: 0;
  /* NOT WORKING PROPERLY */
}

.card-icon::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 26px;
  top: 5px;
  left: 5px;
  margin-top: -10px;
  margin-bottom: -10px;
  background-color: var(--orange);
  z-index: -1;
  /* NOT WORKING PROPERLY */
}

.card-title {
  font-size: 12px;
}

.card-date {
  font-size: 8px;
  color: var(--gray3);
  margin-top: 10px;
  margin-bottom: 16px;
}

.cards2 {
  display: flex;
  gap: 13px;
  margin-top: 16px;
  margin-bottom: 31px;
  margin-right: 49px;
}

.card2 {
  background-color: var(--white);
  border-radius: 12px;
  min-width: 157px;
  width: 100%;
  height: 79px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card-icon2 {
  width: 30px;
  height: 26px;
  margin-top: 13px;
  margin-bottom: 6px;
  position: relative;
  background-color: var(--orange);
}

.card-date2 {
  font-size: 8px;
  color: var(--gray3);
  margin-top: 2px;
  margin-bottom: 5px;
}

.inline-items {
  display: flex;
  width: 100%;
  align-items: center;
}

.inline-items2 {
  display: flex;
  width: 100%;
  align-items: center;
}

.circles-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circles-area > * {
  margin-right: -8px;
}

.circles-area > *:last-child {
  margin-right: 0;
}

.circles-area.short {
  padding-left: 20px;
}

.circles-area.long {
  padding-left: 50px;
}

.vertical-ellipsis {
  align-self: flex-start;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 13px;
}

.recent-files {
  margin-bottom: 38px;
}

.inline-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline-header .view-all {
  font-size: 12px;
  color: var(--gray-dark2);
}

.rectangle-top1 {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--gray-dark2);
  background: transparent;
  margin-right: 10px;
}

.rectangle-top2 {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--gray2);
  background: transparent;
}

.files-table {
  font-size: 12px;
  color: var(--gray3);
}

.files-header {
  display: grid;
  grid-template-columns: 1.45fr 0.5fr 0.5fr 0.1fr;
  margin-top: 14px;
  margin-bottom: 18px;
}

.files-row {
  display: grid;
  grid-template-columns: 1.45fr 0.5fr 0.5fr 0.1fr;
  align-items: center;
  background-color: var(--white);
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.files-name {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--gray-dark2);
}

.files-icon {
  width: 21px;
  height: 21px;
  border-radius: 5px;
}

.see-more {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* RIGHT SIDEBAR */
.right-sidebar {
  min-width: 252px;
  background-color: var(--blue-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.user {
  min-height: 79px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--white-light2);
}

.name-box {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 6px;
  color: var(--gray-dark2);
  font-size: 12px;
}

/* STORAGE */

.storage-container {
  width: 194px;
  margin-left: 34px;
}

.storage-container h2 {
  margin-bottom: 22px;
}

.circular-progress-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.pie-chart-image {
  width: 139px;
}

.usage-text {
  margin-top: 20px;
  color: var(--gray3);
  font-size: 8px;
}

.category-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid var(--white-light2);
}

.category-item:last-child {
  border-bottom: none;
}

.color-indicator {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  margin-right: 7px;
}

.category-name {
  color: var(--gray-dark2);
  font-size: 10px;
  margin-bottom: 1px;
}

.category-files {
  color: var(--gray3);
  font-size: 8px;
}

.category-size {
  color: var(--gray-dark2);
  margin-left: auto;
  background-color: var(--white);
  border-radius: 4px;
  padding: 6px 13px;
}

.space-box {
  margin-top: 34px;
  margin-left: 33px;
  margin-right: 25px;
  margin-bottom: 20px;
  background-color: var(--white);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.logo-box {
  margin-top: 17px;
  margin-bottom: 23px;
  border-radius: 8px;
  width: 119px;
  height: 73px;
}

.space-main {
  font-size: 12px;
  color: var(--gray-dark2);
}

.space-side {
  font-size: 8px;
  color: var(--gray3);
}

.space-box button {
  background: var(--orange);
  color: var(--white);
  width: 116px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
  margin-top: 11px;
}
